<div class="row g-0">
    <div class="col-12">
        <div class="menu">
            <div class="row g-0" style="padding: 10px ;">
                <div class="col-12" style="margin-bottom: 10px;">
                    <button type="button" class="btn btn-secondary" style="width: 100%;">Boton 1</button>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-secondary" style="width: 100%;">Boton 2</button>
                </div>
            </div>

        </div>
    </div>
</div>
